.layout-main-style {
  border-radius: 8;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header-style {
  text-align: right;
  line-height: 100px;
  height: 200px;
  align-items:center;
  flex-shrink: 0;
}

.layout-content-style {
  text-align: center;
  flex-grow: 1;
  min-height: 0;
}

.layout-footer-style {
  text-align: center;
}

.search-style {
  width: 300px;
  margin-right: 90px;
}


