.header {
  display: flex;
  align-items: center;
}

.header__menu {
  flex: 1;
  min-width: 0;
}

.breadcrumb {
  margin: 16px 0;
}

.content {
  min-height: 280px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.sider__menu {
  height: 100%;
}

.switch {
  margin-left: auto;
  width: 40Px;
}

.search {
  width: 250px;
  margin-right: 100px;
}

.search__date {
  width: 250px;
  height: 40px;
  margin-right: 100px;
}

.search--IsVisible{
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.search--IsVisible.hidden {
  visibility: hidden;
  opacity: 0;
}

.search--IsVisible.visible {
  visibility: visible;
  opacity: 1;
}

